* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  min-height: 100vh;
  width: 100%;
  position: relative; }

img {
  display: inline-block;
  height: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

main {
  padding-bottom: 164.533px; }

main, footer, footer a {
  color: #7b5110; }

h1 {
  font-size: 40px; }

p {
  text-align: justify; }

section {
  padding: 20px 30px; }

form {
  max-width: 420px;
  margin: 0 auto; }
  form div {
    display: flex;
    flex-wrap: nowrap; }
    form div label {
      white-space: pre;
      margin: 20px 20px 0 0; }
    form div label + input {
      padding: 0 5px;
      margin-top: 20px;
      width: 100%; }
    form div label + select {
      margin-top: 20px; }
  form .commentBox {
    display: block; }
  form .buttonsBox {
    justify-content: space-around;
    width: 352px; }

.title {
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 50px;
  text-align: center; }
  .title p {
    text-align: center; }

.btn-outline-success {
  color: gray;
  border-color: gray; }
  .btn-outline-success:hover {
    color: white;
    border-color: gray;
    background-color: #ffaa09; }

.btn {
  line-height: 0.5; }

.pageTitle {
  margin-top: 110px;
  margin-bottom: 25px; }

.backgroundOrange {
  background-color: #ffaa09; }

@font-face {
  font-family: "Gretoon";
  src: url("../fonts/Gretoon.ttf"); }

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: solid #ffaa09 3px;
  z-index: 5; }
  header ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
    list-style: none;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none; }

.navbar-light .navbar-nav .nav-link, header .container-fluid {
  background-color: white;
  color: #ffaa09;
  font-size: 21px;
  font-weight: bold; }

.logo {
  width: 64px;
  height: 64px; }

#footerHistory {
  grid-area: footerHistory; }

#footerReachOut {
  grid-area: footerReachOut; }

.footerContent {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "footerHistory footerReachOut"; }

footer {
  position: absolute;
  bottom: 0; }
  footer ul {
    margin-left: 15px; }

.footerReachOut {
  display: flex;
  justify-content: center;
  align-items: center; }

.up {
  background-color: white;
  height: 40px;
  width: 40px;
  text-align: center;
  position: absolute;
  right: 5%;
  border: solid #ffaa09;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #ffaa09;
  font-size: 25px; }

#bannerSection {
  grid-area: banner; }

#productsSection {
  padding: 5px 30px 45px 30px;
  margin-bottom: 15px;
  grid-area: products; }
  #productsSection h3 {
    text-align: center;
    font-size: 25px; }

#actionSection {
  grid-area: action; }

#reachOutSection {
  grid-area: reachOut; }

#indexGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20% 40% 20%;
  grid-template-areas: "banner banner" "products products" "action reachOut"; }

.banner {
  margin-top: 110px; }
  .banner h1 {
    font-family: 'Gretoon';
    color: #7b5110; }
  .banner h2 {
    font-size: 25px; }

.carousel-inner {
  width: 100%;
  max-height: 420px !important; }
  .carousel-inner img {
    margin: auto; }

.actions {
  height: 90%;
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .actions img {
    width: 50%;
    border-radius: 50%;
    border: solid #ffaa09;
    transition: all ease 0.5s; }
    .actions img:hover {
      transform: scale(1.2, 1.2); }
  .actions .actionsInside {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .actions .title {
    height: 70px; }

.reachOut {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  text-align: center; }
  .reachOut div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .reachOut img {
    width: 45%;
    border-radius: 50%;
    border: solid #ffaa09;
    transition: all ease 0.5s; }
    .reachOut img:hover {
      transform: scale(1.2, 1.2); }

.productBoxSection {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 55px; }
  .productBoxSection div {
    width: 250px;
    margin: 10px auto; }
    .productBoxSection div h4 {
      font-weight: bold; }
    .productBoxSection div button {
      background-color: #ffaa09;
      color: white;
      height: 35px;
      width: 80%;
      text-align: center;
      border: solid #ffaa09;
      border-radius: 10px; }
    .productBoxSection div img {
      height: 220px;
      border-radius: 50%;
      border: solid #ffaa09; }
    .productBoxSection div p {
      padding-top: 10px;
      height: 130px; }

.promoResume {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow: auto; }
  .promoResume .selectedFilter {
    border-bottom: 4px solid #ffaa09; }
  .promoResume div {
    margin: 0 5px 10px 10px; }
    .promoResume div img {
      height: 80px;
      border-radius: 50%;
      border: solid #ffaa09; }

.promoMain {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  min-width: 250px;
  margin-bottom: 135px; }
  .promoMain h4 {
    min-width: 280px;
    font-weight: bold; }
  .promoMain div {
    margin: 10px 10px; }
  .promoMain p {
    padding-top: 10px;
    text-align: center; }

.promoMainBox {
  min-width: 250px; }
  .promoMainBox button {
    background-color: #ffaa09;
    color: white;
    height: 35px;
    width: 80%;
    text-align: center;
    border: solid #ffaa09;
    border-radius: 10px; }
  .promoMainBox img {
    height: 220px;
    border-radius: 50%;
    border: solid #ffaa09; }
  .promoMainBox ul {
    height: 130px; }
    .promoMainBox ul li {
      list-style-type: circle; }

.accordion-button {
  color: #7b5110; }

.knowUsContent {
  justify-items: center;
  align-items: center;
  margin-bottom: 115px; }

#knowUsTextSection {
  grid-area: knowUsText; }

#knowUsImageSection {
  grid-area: knowUsImage; }
  #knowUsImageSection img {
    width: 200px; }

#knowUsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "knowUsText knowUsImage"; }

@media screen and (max-width: 768px) {
  .up {
    bottom: 15%; }
  .actions {
    flex-direction: column; }
  .reachOut {
    flex-direction: row;
    font-size: 10px;
    justify-content: space-around; }
  .footerContent {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "footerHistory" "footerReachOut"; }
    .footerContent li {
      padding: 10px; }
    .footerContent ul {
      display: flex; }
  #indexGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 40% 20%;
    grid-template-areas: "banner" "products" "action" "reachOut"; }
  .actions .actionsInside {
    width: 100%; }
  .reachOut img {
    width: 40%; }
  .productBoxSection {
    flex-wrap: wrap; }
    .productBoxSection div {
      min-width: 250px; }
      .productBoxSection div p {
        height: auto; }
  .promoResume {
    justify-content: flex-start;
    overflow-x: scroll; }
  .promoMainBox ul {
    height: auto; }
  .inlineHeader {
    display: none; }
  #knowUsGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "knowUsText" "knowUsImage"; }
  .knowUsContent {
    margin-bottom: 25px; }
  main {
    padding-bottom: 226.733px; } }

@media screen and (max-width: 576px) {
  .footerContent li {
    padding: 3px; }
  .footerContent ul {
    display: flex;
    flex-direction: column; }
  main {
    padding-bottom: 340px; } }
