* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
}
main {
    padding-bottom: 164.533px;
}
footer {
    position: absolute;
    bottom: 0;
}
ul {
    list-style-type: none;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom: solid #ffaa09 3px;
    z-index: 5;
}
header li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
}
img {
    display: inline-block;
    height: 100%;
}
nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header, section, .footerContent {
    padding: 20px 30px;
}
main, footer, footer a {
    color: #7b5110;
}
h1 {
    font-size: 40px;
}
p {
    text-align: justify;
}
footer ul {
    margin-left: 15px;    
}
.icons {
    width: 40px;
}
.imgProducts, .actions, .productBoxSection, .promoResume, .promoMain {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.actions img {
    width: 40%;
    transition: all ease 0.5s;
}
.actions div {
    margin-bottom: 10px;
}
.actions img:hover, .reachOut img:hover {
    transform: scale(1.2,1.2);
}
.promoResume div, .promoMain div {
    margin: 10px 10px;
}
.promoResume {
    overflow: auto;
}
.promoMain {
    flex-wrap: wrap;
    min-width: 250px;
}
.reachOut {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}
.reachOut div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reachOut img {
    width: 25%;
}
.imgProducts {
    max-width: 1024px;
    margin: 0 auto;
}
.footerContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "footerHistory footerReachOut";
}
#footerHistory {
    grid-area: footerHistory;
}
#footerReachOut {
    grid-area: footerReachOut;
}
.footerReachOut {
    display: flex;
    justify-content: center;
}
.knowUsContent {
    justify-items: center;
    align-items: center;
    margin-bottom: 115px;
}
.logo {
    width: 64px;
    height: 64px;
}
/* .headerMenu a{
    color: #ffaa09;
    font-weight: bold;
    font-size: 21px;
} */
/* Modify the background color */
    
.navbar-light .navbar-nav .nav-link, header .container-fluid{
    background-color: white;
    color: #ffaa09;
    font-size: 21px;
    font-weight: bold;
}
.accordion-button {
    color: #7b5110;
}
.backgroundOrange {
    background-color: #ffaa09;
}
.btn {
    line-height: 0.5;
}
.title {
    margin-bottom: 20px;
    min-height: 50px;
    text-align: center;
}
.title p {
    text-align: center;
}
.pageTitle {
    margin-top: 110px;
    margin-bottom: 25px;
}
.contactUs {
    margin-bottom: 34px;
}
.contactUs h2 {
    margin-bottom: 20px;
}
.banner {
    margin-top: 110px;
}
.banner h2 {
    font-size: 25px;
}
.productBoxSection {
    margin-top: 50px ;
    margin-bottom: 55px;
}
.productBoxSection div {
    width: 150px;
    margin: 10px 10px;
}
.productBox button, .promoMainBox button {
    background-color: #ffaa09;
    color: white;
    height: 35px;
    width: 80%;
    text-align: center;
    border: solid #ffaa09;
    border-radius: 10px;
}
.promoMainBox {
min-width: 180px;
}
.up {
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    position: absolute;
    right: 5%;
    border: solid #ffaa09;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #ffaa09;
    font-size: 25px;
}
.promoMain {
    margin-bottom: 135px;
}
.promoMain p{
    text-align: center;
}
.carousel-inner{
    width:100%;
    max-height: 370px !important;
}
.carousel-inner img {
    margin: auto;
  }
.btn-outline-success {
    color: gray;
    border-color: gray;
}
.btn-outline-success:hover {
    color: white;
    border-color: gray;
    background-color: #ffaa09;
}
#productsSection {
    padding: 45px 30px;
    margin-bottom: 15px;
    grid-area: products;
}
#productsSection h3 {
    text-align: center;
    font-size: 25px;
}
/* #productsSection img {
    border-radius: 10px;
    border: solid #7b5110 3px;
} */
#bannerSection {
    grid-area: banner;
}
#actionSection {
    grid-area: action;
}
#reachOutSection {
    grid-area: reachOut;
}
#indexGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20% 40% 20%;
    grid-template-areas:
        "banner banner"
        "products products"
        "action reachOut";
}
#knowUsTextSection {
    grid-area: knowUsText;
}
#knowUsImageSection {
    grid-area: knowUsImage;
}
#knowUsGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "knowUsText knowUsImage";
}
@media screen and (max-width: 768px) {
    .imgProducts, .actions {
        flex-direction: column;
    }
    .reachOut {
        flex-direction: row;
        font-size: 10px;
        justify-content: space-around;
    }
    .footerContent {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
        "footerHistory"
        "footerReachOut";
    }
    .footerContent ul {
        display: flex;
    }
    .footerContent li {
        padding: 10px;
    }
    #indexGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 40% 20%;
    grid-template-areas:
        "banner"
        "products"
        "action"
        "reachOut";}
    .productBoxSection {
        flex-wrap: wrap;
    }
    .productBoxSection div {
        min-width: 250px;
    }
    .promoResume {
        justify-content: flex-start;
    }
    .inlineHeader {
        display: none;
    }
    #knowUsGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "knowUsText"
            "knowUsImage";
    }
    .knowUsContent {
        margin-bottom: 25px;
    }
    main {
        padding-bottom: 259.633px;
    }
    /* #promoGrid {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 6fr;
        grid-template-areas: 
            "promoTitle promoTitle"
            "promoResume promoMain";
    } */
    /* .promoResume {
        flex-direction: column;
        font-size: 10px;
    } */
}