* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
img {
  display: inline-block;
  height: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
main {
  padding-bottom: 164.533px;
}
$colors: (
  cBrown: #7b5110,
  cOrange: #ffaa09
);
main, footer, footer a {
  color: map-get($colors, cBrown);
}
h1 {
  font-size: 40px;
}
p {
  text-align: justify;
}
section {
  padding: 20px 30px;
}
.title {
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 50px;
  text-align: center;
  p {
    text-align: center;
  }
}
.btn-outline-success {
  color: gray;
  border-color: gray;
  &:hover {
    color: white;
    border-color: gray;
    background-color: map-get($colors, cOrange);
  }
}
.btn {
  line-height: 0.5;
}
.pageTitle {
  margin-top: 110px;
  margin-bottom: 25px;
}
.backgroundOrange {
  background-color: map-get($colors, cOrange);
}
@font-face {
  font-family: "Gretoon";
  src: url("../fonts/Gretoon.ttf");
}