header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: solid map-get($colors , cOrange) 3px;
  z-index: 5;
  ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
    list-style: none;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
  }
}
.navbar-light .navbar-nav .nav-link, header .container-fluid{
    background-color: white;
    color: map-get($colors , cOrange);
    font-size: 21px;
    font-weight: bold;
}
.logo {
  width: 64px;
  height: 64px;
}