#bannerSection {
  grid-area: banner;
}
#productsSection {
  padding: 20px 30px 45px 30px;
  margin-bottom: 15px;
  grid-area: products;
  h3 {
    text-align: center;
    font-size: 25px;
  }
}
#actionSection {
  grid-area: action;
}
#reachOutSection {
  grid-area: reachOut;
}
#indexGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20% 40% 20%;
  grid-template-areas:
      "banner banner"
      "products products"
      "action reachOut";
}
.imgProducts, .productBoxSection, .promoResume, .promoMain {
  display: flex;
  justify-content: space-around;
  text-align: center; 
}
.banner {
  margin-top: 110px;
  h1 {
    font-family: 'Gretoon';
    color: map-get($colors , cBrown);
  }
  h2 {
    font-size: 25px;
  }
}
.carousel-inner{
  width:100%;
  max-height: 370px !important;
  img {
    margin: auto;
  }
}
@mixin images($width){
  width: $width;
    transition: all ease 0.5s;
    &:hover {
      transform: scale(1.2,1.2);
    }
}

.actions {
  @extend .imgProducts;
  img{
  @include images(40%);
  }
  div{
    margin-bottom: 10px;
  }
}
.reachOut {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  text-align: center;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  img {
    @include images(25%);
  }
}