@media screen and (max-width: 768px) {
    .up {
        bottom: 15%;
    }
    .actions {
      flex-direction: column;
  }
  .reachOut {
      flex-direction: row;
      font-size: 10px;
      justify-content: space-around;
  }
  .footerContent {
      grid-template-columns: 1fr;
      grid-template-rows: 65% 35%;
      grid-template-areas: 
      "footerHistory"
      "footerReachOut";
      li {
          padding: 10px;
      }
      ul {
          display: flex;
      }
  }
  #indexGrid {
  grid-template-columns: 1fr;
  grid-template-rows: 25% 15% 45% 15%;
  grid-template-areas:
      "banner"
      "products"
      "action"
      "reachOut";}
.actions{
    .actionsInside {
    width: 100%;
    }
}
.reachOut img {
    width: 60%;
    height: auto;
}
  .productBoxSection {
    flex-wrap: wrap;
    div {
        min-width: 250px;
        p {
            height: auto;
        }   
    }
  }
  .promoResume {
      justify-content: flex-start;
      overflow-x: scroll;
  }
  .promoMainBox {
      ul {
          height: auto;
      }
  }
  .inlineHeader {
      display: none;
  }
  #knowUsGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
          "knowUsText"
          "knowUsImage";
  }
  .knowUsContent {
      margin-bottom: 25px;
  }
  main {
      padding-bottom: 226.733px;
  }
}

@media screen and (max-width: 576px) {
    .footerContent {
        li {
            padding: 3px;
        }
        ul {
            display: flex;
            flex-direction: column;
        }
    }
    main {
        padding-bottom: 340px;
    }
}

@media screen and (min-width: 1600px) {
    .actions {
        img{
        @include images(40%);
        }
    }
}