@media screen and (max-width: 768px) {
  .imgProducts, .actions {
      flex-direction: column;
  }
  .reachOut {
      flex-direction: row;
      font-size: 10px;
      justify-content: space-around;
  }
  .footerContent {
      grid-template-columns: 1fr;
      grid-template-rows: 50% 50%;
      grid-template-areas: 
      "footerHistory"
      "footerReachOut";
      li {
          padding: 10px;
      }
      ul {
          display: flex;
      }
  }
  #indexGrid {
  grid-template-columns: 1fr;
  grid-template-rows: 20% 20% 40% 20%;
  grid-template-areas:
      "banner"
      "products"
      "action"
      "reachOut";}
  .productBoxSection {
      flex-wrap: wrap;
  }
  .productBoxSection div {
      min-width: 280px;
  }
  .promoResume {
      justify-content: flex-start;
  }
  .inlineHeader {
      display: none;
  }
  #knowUsGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
          "knowUsText"
          "knowUsImage";
  }
  .knowUsContent {
      margin-bottom: 25px;
  }
  main {
      padding-bottom: 226.733px;
  }
}

@media screen and (max-width: 576px) {
    .footerContent {
        li {
            padding: 3px;
        }
        ul {
            display: flex;
            flex-direction: column;
        }
    }
    main {
        padding-bottom: 315.833px;
    }
}