.productBoxSection {
  margin-top: 50px ;
  margin-bottom: 55px;
  div {
    width: 200px;
    margin: 10px 10px;
  }
  button {
    background-color: map-get($colors , cOrange);
    color: white;
    height: 35px;
    width: 80%;
    text-align: center;
    border: solid map-get($colors , cOrange);
    border-radius: 10px;
  }
  p {
    height: 130px;
  }
  // .productDescription {
  //   height: 120px;
  // }
}

