.productBoxSection {
  margin-top: 50px ;
  margin-bottom: 55px;
  div {
    width: 150px;
    margin: 10px 10px;
  }
  button {
    background-color: #ffaa09;
    color: white;
    height: 35px;
    width: 80%;
    text-align: center;
    border: solid #ffaa09;
    border-radius: 10px;
  }
}

